<main class='d-flex flex-column align-items-center'>
  {{! 類別 }}
  <div class='dropdown p-3'>
    <a class='btn dropdown-toggle px-5 d-flex align-items-center btn__border' href='/' role='button' data-bs-toggle='dropdown' aria-expanded='false'>
      <div class='dropdown__content'>類別</div>
    </a>
    <ul class='dropdown-menu'>
      <li><a class='dropdown-item' href='/sort/home'>家居物業</a></li>
      <li><a class='dropdown-item' href='/sort/car'>交通出行</a></li>
      <li><a class='dropdown-item' href='/sort/play'>休閒娛樂</a></li>
      <li><a class='dropdown-item' href='/sort/food'>餐飲食品</a></li>
      <li><a class='dropdown-item' href='/sort/others'>其他</a></li>
    </ul>
  </div>

  {{! 總金額 }}
  <div class='total__num d-flex p-2'>
    <h2>總金額：</h2>
    <h5>{{totalAmount}}</h5>
  </div>

  {{! 各項花費(類別、日期、金額) }}
  {{#each expense}}
    <div class='spend__item container d-flex justify-content-between align-items-center'>
      <div class='spend__item__content d-flex flex-row align-items-center justify-content-between'>
        <div class='spend__item__content__desc d-flex flex-row align-items-center'>
          <div class='spend__item__content__desc__img px-3'>
            {{! <i class='fa-solid fa-utensils fa-2xl' style='color: #53afc6;'></i> }}
            <i class='{{this.categoryClass}} fa-2xl' style='color: #53afc6;'></i>

          </div>

          <div class='spend__item__content__desc p-2'>
            <h4>{{this.name}}</h4>
            <p>{{this.expenseDate}}</p>
          </div>
        </div>

        <div class='spend__item__content__number pe-3'>
          <h5>{{this.amount}}</h5>
        </div></div>
      <div class='spend__item__link p-2'>
        <a href='/expense/{{this._id}}/edit' class='link-dark p-2'>修改</a>
        <a href='/expense/{{this._id}}/edit' class='link-dark p-2'>刪除</a>
      </div>
    </div>
  {{/each}}
  <a class='btn btn-primary m-3' href='/expense/new' role='button'>新增支出</a>

</main>